.cards{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.headertext{
    font-family: 'Roboto', sans-serif;
    margin: 25px 0px 20px 30px;
}
.uppercards{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.upperbox{
    width: 240px;
    margin: 5px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    background-color:white;
    box-shadow: 5px 5px 15px 5px #f0f2f5;
}
.upperboxtop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.socialicons{
    color: rgb(26, 26, 172);
    font-size: xx-large;
}
.socialtext{
    padding: 0px 10px 0px 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.downtext{
    margin:0px 15px 0px 15px;
    font-family: 'Roboto', sans-serif;
}
.lowercards{
    width: 100%;
    height: 240px;
    margin: 40px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.lowerbox{
    width: 240px;
    height: 250px;
    margin: 20px 0px 0px 0px;
    box-shadow: 2px 5px 15px 7px #d1d1d1;
}
.lowerprofileicon{
    height: 80px;
    display: flex;
    justify-content: center;
    margin: -35px 0px 0px 0px;
}
.lowerprofileiconsize{
    height: 70px;
}
.imagedown{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
.profilename{
    margin: 8px 0px 8px 0px;
}

.bottomicons{
    margin: 0px 0px 0px 10px;
}
.bottomline{
    width: 240px;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 18px 0px 0px 0px;
    background-color: #b7b7b7;
}
.headercolor{
    color: rgb(44, 44, 240);
}



/* CSS for Table (Lower section) */



.lowersection{
    display: flex;
    flex-direction: column;
    margin: 50px 0px 10px 20px;
}
.table{
    width: 100%;
    margin: 20px 0px 0px 0px;
}
th,td{
    border:1px solid #d3d3d3;
}
th:first-of-type{
    border-top-left-radius: 12px;
}
th:last-of-type{
    border-top-right-radius: 12px;
}
tr:last-of-type td:first-of-type{
    border-bottom-left-radius: 12px;
}
tr:last-of-type td:last-of-type{
    border-bottom-right-radius: 12px;
}

.table-element{
    text-align: center;
    padding: 15px;
}
.table-element-left{
    padding: 15px;
}
.tablefont{
    margin-top: 25px;
    font-family: 'Roboto', sans-serif;
}
.rowhover:hover{
    background-color:#2C72FF;
    color: white;
}
.progressbar{
    width: 240px;
    padding: 0px 20px 0px 20px;
}
.leftprog{
    width:30%;
    height: 10px;
    float: left;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #00008b;
}
.rightprog{
    width: 70%;
    height: 10px;
    float: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #d3d3d3;
}
.leftprog1{
    width:70%;
    height: 10px;
    float: left;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #ff4500;
}
.rightprog1{
    width: 30%;
    height: 10px;
    float: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #d3d3d3;
}