*{
    margin: 0px;
}
.outer{
    width:900px;
    height:600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(216, 212, 212);
    margin:auto;
}
.outer1{
    width: 850px;
    height: 550px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.parent{
    width: 800px;
    height: 500px;
    margin: auto;
    background-color:white;
}
.left{
    width: 400px;
    height:500px;
    background-color: white;
    float:left;
}
.image{
    background-image: url(/images/exe2.png);
    width: 400px;
    height:450px;
    background-size: cover;
}
.text{
    width:400px;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right{
    width: 400px;
    height: 500px;
    background-color: white;
    float: right;
}
.part1{
    padding: 40px 0px 15px 6px;
    width: 394px;
    height: 45px;
    /* background-color:yellow; */
}
.part2{
    width: 400px;
    height: 300px;
    /* background-color:springgreen; */
}
.part3{
    width: 400px;
    height: 100px;
    /* background-color: turquoise; */
}
.part4{
    width:114px;
    height: 33px;
    padding : 67px 0px 0px 6px;
    background-color:white;
    float: left;
}
.part5{
    width: 280px;
    height: 40px;
    margin: 50px 0px 0px 0px;
    background-color: white;
    float: right;
    display: flex;
}
.part51{
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-right: 20px;
}
.part52{
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-right: 20px;
}
.part53{
    width: 40px;
    height: 40px;
    margin-top: 5px;
}
/* .icon1{
    width: 10px;
    height: 10px;
    background-size: cover;
    float: left;
    padding:15px 0px 0px 6px;
} */
.usericon{
    width: 50px;
    height: 50px;
}
.icon2link{
    width: 50px;
    height: 50px;
    display: inline-block;
}
.icon2{
    margin: 0px 0px 0px 0px;
    width:40px;
    height: 40px;
}
.parta{
    width: 400px;
    height: 75px;
    display: ;
    /* background-color: aqua; */
}
.username{
    margin: 45px 0px 0px 0px;
    padding: 5px 0px 5px 0px;
    border: none;
}
.iconclass{
    width: 20px;
    height: 20px;
    margin-top: 10px;
    padding: 10px 0px 0px 6px;
}
.usericon{
    
}
.partb{
    width: 400px;
    height: 75px;
    display: inline-block;
    /* background-color:palegreen; */
}
.password{
    margin: 25px 0px 0px 0px;
    padding: 5px 0px 5px 0px;
    border: none;
}
.partc{
    width:400px;
    height: 75px;
    /* background-color:peachpuff; */
}
.partd{
    width: 400px;
    height: 75px;
    /* background-color:chartreuse; */
}
.remember{
    margin: 5px 0px 0px 6px;
}
.button1{
    margin: 0px 0px 0px 6px;
    width: 100px;
    height: 50px;
    border-radius: 7px;
    background-color:royalblue;
    color: white;
}
