*{
    margin: 0px;
}
.login2outer{
    width:900px;
    height:600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(216, 212, 212);
    margin:auto;
}
.login2outer1{
    width: 850px;
    height: 550px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.login2parent2{
    width: 800px;
    height: 500px;
    margin: auto;
    background-color:white;
}
.login2left2{
    width: 400px;
    height:500px;
    background-color: white;
    float:left;
}
.login2image{
    background-image: url(/images/exe2.png);
    width: 400px;
    height:450px;
    background-size: cover;
}
.login2text{
    width:400px;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login2right2{
    width: 400px;
    height: 500px;
    background-color: white;
    float: right;
}
.login2part21{
    padding: 40px 0px 15px 6px;
    width: 394px;
    height: 45px;
    /* background-color:yellow; */
}
.login2part22{
    width: 400px;
    height: 300px;
    /* background-color:springgreen; */
}
.login2part23{
    width: 400px;
    height: 100px;
    /* background-color: turquoise; */
}
.login2part24{
    width:114px;
    height: 33px;
    padding : 67px 0px 0px 6px;
    background-color:white;
    float: left;
}
.login2part25{
    width: 280px;
    height: 40px;
    margin: 50px 0px 0px 0px;
    background-color: white;
    float: right;
    display: flex;
}
.login2part51{
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-right: 20px;
}
.login2part52{
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-right: 20px;
}
.login2part53{
    width: 40px;
    height: 40px;
    margin-top: 5px;
}
.login2icon2link{
    width: 50px;
    height: 50px;
    display: inline-block;
}
.login2icon2{
    margin: 0px 0px 0px 0px;
    width:40px;
    height: 40px;
}
.login2parta{
    width: 400px;
    height: 75px;
    display: ;
    /* background-color: aqua; */
}
.login2username{
    margin: 45px 0px 0px 0px;
    padding: 5px 0px 5px 0px;
    border: none;
}
.login2iconclass{
    width: 20px;
    height: 20px;
    margin-top: 10px;
    padding: 10px 0px 0px 6px;
}

.login2partb{
    width: 400px;
    height: 75px;
    display: inline-block;
    /* background-color:palegreen; */
}
.login2password{
    margin: 25px 0px 0px 0px;
    padding: 5px 0px 5px 0px;
    border: none;
}
.login2partc{
    width:400px;
    height: 75px;
    /* background-color:peachpuff; */
}
.login2partd{
    width: 400px;
    height: 75px;
    /* background-color:chartreuse; */
}
.login2remember{
    margin: 5px 0px 0px 6px;
}
.login2button1{
    margin: 0px 0px 0px 6px;
    width: 100px;
    height: 50px;
    border-radius: 7px;
    background-color:royalblue;
    color: white;
}
