*{
    margin: 0px;
}

.login1parent{
    width: 800px;
    height: calc(100vh - 50px);
    margin: auto;
}

.login1left{
    width: 400px;
    height: calc(100vh - 50px);
    float: left;
}

.login1leftimage{
    width: 100%;
    height: calc(100vh - 50px);
}

.login1right{
    width: 400px;
    height: 100%;
    background:white;
    float:right;
}

.login1st{
    width: 300px;
    height: 350px;
    margin: 50px auto;
    background: white;
}
.login1part1{
    padding-top: 20px;
    width:100%;
    height:70px;
    background-color:white;
}

.login1part2{
    width:100%;
    height:175px;
    background-color:white;
}

.login1part3{
    width: 100%;
    height:105px;
    background-color:white;
}
.login1email{
    width:290px;
    margin-top: 5px;
    padding: 6px 0px 6px 6px;
    margin-bottom: 10px;
}
.login1password{
    width:290px;
    margin-top: 5px;
    padding: 6px 0px 6px 6px;
    margin-bottom: 25px;
}
.login1remember{
    float: left;
    margin-right: 6px;
}
.login1forgot{
    float:right;
    text-decoration: none;
}

.login1bottom{
    text-align: center;
}

.login1button1{
    width: 300px;
    background-color:#04C35C;
    margin-top: 10px;
    height:40px;
    border:0px;
    border-radius: 5px;
    text-emphasis-color: #FFFFFF;
}

.login1button2{
    width: 300px;
    background-color:#2D3748;
    margin-top: 10px;
    height:40px;
    border:0px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}