*{
    margin:0px;
}

.signuptop{
    width: 700px;
    margin:5px 0px 0px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
.signupmain{
    width: 800px;
    margin: 30px 0px 0px 250px;
}

.suprow{
    width: 800px;
    display: flex;
    margin:10px 0px 0px 0px;
}
.supleftside{
    width: 250px;
}
.suprightside{
    width: 550px;
}
.supinputlabel{
    width: 400px;
    padding: 9px 0px 9px 5px;
    margin: 3px 0px 0px 0px;
    border:1px solid #d3d3d3;
    border-radius: 3px;
    background-color: white;
}
.supinputlabel:focus{
    outline: 1px solid blue;
}

.supname{
    margin:10px 0px 0px 174px;
    font-family: 'Roboto', sans-serif;
}

.suppassword{
    font-family: 'Roboto', sans-serif;
    margin:11px 0px 0px 147px;
}
.suptextunderpassword{
    font-family: 'Roboto', sans-serif;
    margin-top: 4px;
    border-radius: 3px;
}

.supconfirmpassword{
    font-family: 'Roboto', sans-serif;
    margin: 11px 0px 0px 87px;
}

.supgendertext{
    margin: 7px 0px 0px 165px;
    font-family: 'Roboto', sans-serif;
}
.supgender{
    margin:10px 0px 0px 0px;
}

.supdobtext{
    margin: 14px 0px 0px 182px;
    font-family: 'Roboto', sans-serif;
}
#supdate{
    width: 400px;
    border:1px solid #d3d3d3;
    margin: 2px 0px 0px 0px;
    padding: 9px 0px 9px 0px;
}

.supphototext{
    margin: 13px 0px 0px 175px;
    font-family: 'Roboto', sans-serif;
}
#supfile{
    width: 400px;
    border: 1px solid #d3d3d3;
    margin: 2px 0px 0px 0px;
    padding: 9px 0px 9px 0px;
}

.supaddresstext{
    margin:10px 0px 0px 160px;
    font-family: 'Roboto', sans-serif;
}
#supfilladdress{
    border:1px solid #d3d3d3;
    border-radius: 3px;
    margin: 3px 0px 0px 0px;
}
#supfilladdress:focus{
    outline: 1px solid blue;
}

.supcountrytext{
    margin: 11px 0px 0px 160px;
    font-family: 'Roboto', sans-serif;
}
.supcountry{
    width: 407px;
    padding: 9px 0px 9px 5px;
    margin: 0px 0px 0px 0px;
    border:1px solid #d3d3d3;
    border-radius: 3px;
    background-color: white;
}
.supcountry:focus{
    outline: 1px solid blue;
}

.supmobile{
    margin: 11px 0px 0px 107px;
    font-family: 'Roboto', sans-serif;
}

.supemail{
    margin: 11px 0px 0px 157px;
    font-family: 'Roboto', sans-serif;
}

.suplangtext{
    margin: 20px 0px 0px 83px;
    font-family: 'Roboto', sans-serif;
}
#suplanguage{
    width: 407px;
    margin: 3px 0px 0px 0px;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
}
#suplanguage:focus{
    outline: 1px solid blue;
}

.supcheckboxrightside{
    width: 550px;
    display: flex;
}
.supchecktext{
    margin: 8px 0px 0px 112px;
    font-family: 'Roboto', sans-serif;
}
.supcheckbox{
    width: 40px;
    border:1px solid #d3d3d3;
    margin: 3px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: rgb(210, 213, 216);
}
.supcheckboxtext{
    width: 360px;
    border: 1px solid #d3d3d3;
    border-left: none;
    border-radius: 3px;
    margin: 3px 0px 0px 0px;
    padding: 9px 0px 9px 5px;
}
#supbox{
    margin: 11px 0px 11px 13px;
}
.supbutton{
    width: 100px;
    border:1px solid black;
    border-radius: 4px;
    margin:30px 0px 30px 250px;
    padding: 12px 0px 12px 0px;
    color: white;
    background-color: darkgreen;
    cursor: pointer;
}
.supbutton:hover {
    background-color:rgb(123, 207, 123);
}